#include "tuica.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_CPL_NAME        "Tuica Customization (originally from an abandoned project of mine)"
    IDS_CPL_INFO        "Customize you Wine prefix."
END

IDD_MAIN DIALOG 0, 0, 320, 220
STYLE WS_CAPTION | WS_CHILD | WS_DISABLED
CAPTION "Virtual Desktop"
FONT 8, "Ms Shell Dlg"
{
    PUSHBUTTON      "Choose Wallpaper", IDC_BUTTONWALLPAPER, 10, 10, 60, 15
    PUSHBUTTON      "Enable Tile", IDC_BUTTONENABLETILE, 80, 10, 60, 15
    PUSHBUTTON      "Disable Tile", IDC_BUTTONDISABLETILE, 150, 10, 60, 15
    EDITTEXT        IDC_TEXTBOXLOCATION, 10, 40, 160, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Type file path (.bmp only!!)", IDC_CURRENTLOCATION, 10, 30, 100, 8
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* @makedep: tuica.ico */
ICO_MAIN ICON "tuica.ico"

#define WINE_FILENAME_STR "tuica.cpl"
#define WINE_FILEDESCRIPTION_STR "Customize you Wine prefix"

#ifndef WINE_FILEVERSION_MAJOR
#define WINE_FILEVERSION_MAJOR 10
#endif

#ifndef WINE_FILEVERSION_MINOR
#define WINE_FILEVERSION_MINOR 0
#endif

#ifndef WINE_FILEVERSION_BUILD
#define WINE_FILEVERSION_BUILD 0
#endif

#ifndef WINE_FILEVERSION_PLATFORMID
#define WINE_FILEVERSION_PLATFORMID 0
#endif

#ifndef WINE_FILEVERSION
#define WINE_FILEVERSION WINE_FILEVERSION_MAJOR,WINE_FILEVERSION_MINOR,\
                         WINE_FILEVERSION_BUILD,WINE_FILEVERSION_PLATFORMID
#endif

#define WINE_VER_STRINGIZE2(x) #x
#define WINE_VER_STRINGIZE(x) WINE_VER_STRINGIZE2(x)
#define WINE_VER_HEXPREFIX2(x) 0x ## x
#define WINE_VER_HEXPREFIX(x) WINE_VER_HEXPREFIX2(x)

#ifndef WINE_FILEVERSION_STR
#define WINE_FILEVERSION_STR WINE_VER_STRINGIZE(WINE_FILEVERSION_MAJOR.WINE_FILEVERSION_MINOR.WINE_FILEVERSION_BUILD.WINE_FILEVERSION_PLATFORMID)
#endif

#ifndef WINE_FILEDESCRIPTION_STR
#define WINE_FILEDESCRIPTION_STR "Tuica control panel"
#endif

#ifndef WINE_FILENAME
#define WINE_FILENAME ""
#endif

#ifndef WINE_FILENAME_STR
#define WINE_FILENAME_STR ""
#endif

#ifndef WINE_FILETYPE
#define WINE_FILETYPE VFT_DLL
#endif

#ifndef WINE_FILESUBTYPE
#define WINE_FILESUBTYPE VFT2_UNKNOWN
#endif

#ifndef WINE_LEGALCOPYRIGHT
#define WINE_LEGALCOPYRIGHT "EnderIce2"
#endif

#ifndef WINE_PRODUCTVERSION
#define WINE_PRODUCTVERSION 1,0,0,0
#endif

#ifndef WINE_PRODUCTVERSION_STR
#define WINE_PRODUCTVERSION_STR "1.0"
#endif

#ifndef WINE_PRODUCTNAME_STR
#define WINE_PRODUCTNAME_STR "Wine"
#endif

#ifndef WINE_EXTRAVALUES
#define WINE_EXTRAVALUES
#endif

#ifndef WINE_CODEPAGE
#ifdef _WIN32
#define WINE_CODEPAGE 04B0 /* CP1200 (Unicode) */
#else
#define WINE_CODEPAGE 04E4 /* CP1252 for Win16 */
#endif
#endif

#ifndef WINE_CODEPAGE_STR
#define WINE_CODEPAGE_STR WINE_VER_STRINGIZE(WINE_CODEPAGE)
#endif

#ifndef WINE_CODEPAGE_HEX
#define WINE_CODEPAGE_HEX WINE_VER_HEXPREFIX(WINE_CODEPAGE)
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    WINE_FILEVERSION
PRODUCTVERSION WINE_PRODUCTVERSION
FILEFLAGSMASK  63
FILEFLAGS      0
FILEOS         VOS_UNKNOWN
FILETYPE       WINE_FILETYPE
FILESUBTYPE    WINE_FILESUBTYPE
{
    BLOCK "StringFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, WINE_CODEPAGE */
	BLOCK "0409" WINE_CODEPAGE_STR
	{
	    VALUE "CompanyName", "Microsoft Corporation" /* GameGuard depends on this */
	    VALUE "FileDescription", WINE_FILEDESCRIPTION_STR
	    VALUE "FileVersion", WINE_FILEVERSION_STR
	    VALUE "InternalName", WINE_FILENAME
	    VALUE "LegalCopyright", WINE_LEGALCOPYRIGHT
	    VALUE "OriginalFilename", WINE_FILENAME_STR
	    VALUE "ProductName", WINE_PRODUCTNAME_STR
	    VALUE "ProductVersion", WINE_PRODUCTVERSION_STR
	    WINE_EXTRAVALUES
	}
    }
    BLOCK "VarFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, WINE_CODEPAGE */
	VALUE "Translation", 0x0409, WINE_CODEPAGE_HEX
    }
}
